# Dependencias y entornos virtuales
node_modules/
app/node_modules/
venv/
__pycache__/
*.pyc

# Cachés y compilaciones
app/.cache/
app/dist/
app/build/
*.pack
*.map

# Binarios y ejecutables
*.exe
*.dll
*.node
*.dat
*.so
*.dylib

# Archivos de configuración local y temporales
.env
*.log
*.swp
.DS_Store
Thumbs.db
desktop.ini

# Bases de datos y sesiones
*.sqlite3
*.mdf
*.suo
*.vim

# Subproyectos y respaldos
app_backup/
electron/
app/electron/
minimarket-app/
